# Configurações do Banco de Dados
POSTGRES_USER=teste
POSTGRES_PASSWORD=senha
POSTGRES_DB=banco
DATABASE_URL=postgresql://teste:senha@db:5432/banco

# Configurações do Backend (API)
JWT_SECRET_KEY=chave
ARTIFACTS_PATH=ml_artifacts

# Configurações do Frontend (Dashboard)
BACKEND_URL=http://backend:5000